<tr id="<%= spree_dom_id import %>" data-hook="admin_imports_index_rows">
    <td><%= import.id %></td>
    <td><%= import.title %></td>
    <td><%= import.report %></td>
    <td><%= link_to 'download', file_link(import.import_file)  if import.import_file.attached? %></td>
    <td class="text-center">
    <%= import.active ? Spree.t(:say_yes) : Spree.t(:say_no) %>
    </td>
    <td class="actions text-right">
    <a href="/admin/imports/<%= import.id%>">Show</a>
    <%= link_to_edit(import, no_text: true) if can? :edit, import %>
    <%= link_to_delete(import, no_text: true) if can? :delete, import %>
    </td>
</tr>