<% content_for :page_title do %>
  <%= Spree.t(:import) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_import), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_import_link' %>
<% end if can? :create, Spree::Import %>

<% if @imports.any? %>
  <table class="table">
    <thead>
      <tr data-hook="admin_imports_index_headers">
        <th></th>
        <th><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:report) %></th>
        <th><%= Spree.t(:file) %></th>
        <th class="text-center"><%= Spree.t(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @imports.each do |import|%>
        <%= render "spree/admin/imports/import", import: import %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Import)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::Import %>!
  </div>
<% end %>

<%# don't understand why not work%>
<%# render partial: 'spree/admin/shared/index_table_options', locals: { collection: @imports , simple: true } %>
