<div class="container">

<%= form_for [:admin, @product_import], html: { multipart: true } , data: { turbo: false } do |f| %>
<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_import } %>
  <fieldset>
    <div class="row">
      <div class="col-3 form-group checkbox">
        <%= label_tag :active do %>
          <%= f.check_box :active %>
          <%= Spree.t(:active) %>
        <% end %>
      </div>
      <div class="col-3" data-hook="admin_product_uniq_field">
        <%= f.field_container :uniq_field do %>
          <%= f.label :uniq_field, Spree.t(:uniq_field) %>
          <%= f.select :uniq_field,  ['variant_id','name','sku'], {}, { class: "form-control" }%>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
        <div class="col-3"><b>Columns from file</b></div>
        <div class="col-5"><b>System fields</b></div>
    </div>
    <div class="row mb-4">
        <%= f.fields_for :product_import_columns do |ff| %>
            <div class="row col-12 mb-1">
                <div class="col-3">
                  <%= ff.hidden_field :column_file %>
                  <%= label_tag "#{ff.object.column_file}", ff.object.column_file %>
                </div>
                <div class="col-5">
                  <%= ff.select :column_system, grouped_options_for_select(Spree::ProductImport.import_attributes, ff.object.column_system), {include_blank: true}, { class: "form-control" }%>
                </div>
            </div>
        <%end%>
    </div>
    <div class="row">
      <div class="form-group form-check">
        <%= label_tag :update_title do %>
          <%= f.check_box :update_title %>
          <%= Spree.t(:update_title) %>
        <% end %>
      </div>
      <div class="form-group form-check">
        <%= label_tag :update_desc do %>
          <%= f.check_box :update_desc %>
          <%= Spree.t(:update_desc) %>
        <% end %>
      </div>
      <div class="form-group form-check">
        <%= label_tag :update_img do %>
          <%= f.check_box :update_img %>
          <%= Spree.t(:update_img) %>
        <% end %>
      </div>
      <div class="form-group form-check">
        <%= label_tag :update_quantity do %>
          <%= f.check_box :update_quantity %>
          <%= Spree.t(:update_quantity) %>
        <% end %>
      </div>
      <div class="form-group form-check">
        <%= label_tag :update_price do %>
          <%= f.check_box :update_price %>
          <%= Spree.t(:update_price) %>
        <% end %>
      </div>
    </div>
    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
</div>
