<% content_for :page_title do %>
  <%= Spree.t(:product_import) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product_import), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_product_import_link' %>
<% end if can? :create, Spree::ProductImport %>

<% if @product_imports.any? %>
  <table class="table">
    <thead>
      <tr data-hook="admin_product_imports_index_headers">
        <th><%= Spree.t(:title) %></th>
        <th><%= Spree.t(:report) %></th>
        <th><%= Spree.t(:file) %></th>
        <th class="text-center"><%= Spree.t(:active) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @product_imports.each do |product_import|%>
        <tr id="<%= spree_dom_id product_import %>" data-hook="admin_product_imports_index_rows">
          <td><%= product_import.title %></td>
          <td><%= product_import.report %></td>
          <td><%= link_to 'download', file_link(product_import.import_file)  if product_import.import_file.attached? %></td>
          <td class="text-center">
            <%= product_import.active ? Spree.t(:say_yes) : Spree.t(:say_no) %>
          </td>
          <td class="actions text-right">
            <a href="/admin/product_imports/<%= product_import.id%>">Show</a>
            <%= link_to_edit(product_import, no_text: true) if can? :edit, product_import %>
            <%= link_to_delete(product_import, no_text: true) if can? :delete, product_import %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ProductImport)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::ProductImport %>!
  </div>
<% end %>