
<p>We create new product if not found by Uniq field. We update product if found by Uniq field</p>

<%= form_for [:admin, @product_import] do |f| %>
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_import } %>
    <%= f.hidden_field :title, value: 'test import' %>
    <div class="mt-2 mb-2"><b>ВНИМАНИЕ</b> для импорта подходят файлы (Excel 2000/97 .xls) или csv (разделитель "запятая", кодировка "utf-8")</div>
        <p class="mt-5"></p>
        <%= file_field_tag :file, :class =>'import_file'%>
        <p class="mt-5"></p>
        <p class="mb-5"></p>	
    </div>
    <%# render partial: 'spree/admin/shared/edit_resource_links' %>

    <div class="form-actions" data-hook="buttons">
        <%# button Spree.t('actions.update'), 'save.svg', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
        <%= submit_tag "Импорт", class: "btn btn-success" %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), collection_url, icon: 'cancel.svg' %>
    </div>
<% end %>