<%= form_with url: import_setup_admin_product_imports_path, multipart: true, data: { turbo: false } do |f| %>
    <div class="mt-2 mb-2"><b>Attention</b> only use  (Excel 2000/97 .xls) or csv (column separate "comma",  "utf-8")</div>
        <p class="mt-5"></p>
        <%= f.file_field :import_file, accept: '.csv', class: 'import_file'%>
        <p class="mt-5"></p>
        <p class="mb-5"></p>	
    </div>
    <%# render partial: 'spree/admin/shared/edit_resource_links' %>

    <div class="form-actions" data-hook="buttons">
        <%= button Spree.t('actions.import'), 'save.svg', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
        <%# f.submit "Импорт", class: "btn btn-success" %>
        <span class="or"><%= Spree.t(:or) %></span>
        <%= button_link_to Spree.t('actions.cancel'), collection_url, icon: 'cancel.svg' %>
    </div>
<% end %>
